/* ========================================================================== */
/* Admin - Top Navigation */
/* ========================================================================== */

/* Pull brand image up a bit */
.navbar-fixed-top .navbar-brand .banner-brand {
  margin-top: -10px;
}

/* === Set colors === */
/* Navbar */
#nav-flyers-top {
  background-color: #c9cacc;
}

/* Active nav link */
#nav-flyers-top .active a {
  color: #eee;
  background-color: #005daa;
}

/* Default nav link */
#nav-flyers-top a {
  color: #000;
  /*background-color: green;*/
}

/* Open toggle color */
#nav-flyers-top .open a.dropdown-toggle {
  background-color: #969799;
}

/* Dropdown menu */
#nav-flyers-top ul.dropdown-menu {
  border: 0px;
  border-top: 2px solid #b8b9bb;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #c9cacc;
}

@media (min-width: 768px) {
  #nav-flyers-top ul.dropdown-menu {
    border-bottom: 2px solid #b8b9bb;
  }

  #nav-flyers-top ul.navbar-right {
    margin-right: 10px;
  }
}


/* ========================================================================== */
/* Admin - Add Literature Form                                                */
/* ========================================================================== */

/* === Layout === */

/* Location selection*/
/* Select boxes */
#fe-add-lit-locations select {
  max-width: 200px;
  display: inline-block;
}

/* Circle buttons */
/*#fe-add-lit-locations button.add,
#fe-add-lit-locations button.delete {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 0;
}*/

/* Location rows */
#fe-add-lit-locations .row {
  margin-top: 5px;
}

/* Static location labels*/
#fe-add-lit-locations label {
  font-size: 16px;
  margin: 0;
}

/* Add new location buttons */
#fe-add-lit-locations button.add {
  padding: 2px 0 0 2px;
}

/* Delete location buttons */
#fe-add-lit-locations button.delete {
  margin:0 6px;
  padding: 2px 2px 0 0;
}

/* Delete all locations button */
#fe-add-lit-locations button.rm-all {
  font-weight: 800;
  font-size: 20px;

}

.locations-panel {
  margin-top: 10px;
}

.locations-panel button.location-label {
  cursor: default;
  box-shadow: none;
  opacity: 1;
}

.locations-panel .btn-group {
  margin: 5px;
}