<!-- Modal -->
<div class="modal fade" id="newLit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Literature</h4>
      </div>
      <div class="modal-body">
        <form>

          <!-- Flyer/Form radios -->
          <div class="form-group">
            <label for="radio-litType">Type of Literature</label>
            <div>
              <label class="radio-inline">
                <input type="radio" ng-model="lit.type" name="radio-litType" value="flyer">Flyer
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="lit.type" name="radio-litType" value="form">Form
              </label>
            </div>
          </div>

          <!-- Format select box -->
          <div class="form-group">
            <label for="select-format">Format</label>
            <select name="select-format" class="form-control" ng-options="format as format.format for format in formats" ng-model="lit.format"></select>
          </div>

          <!-- Event date -->
          <div class="form-group">
            <div class="row">
              <!-- ongoing check box -->
              <div class="col-sm-3 col-md-2">
                <label class="checkbox-inline">
                  <input type="checkbox" class="" ng-model="lit.isOngoing" ng-true-value="true" ng-false-value="false">Ongoing event
                </label>
              </div>

              <!-- event date picker -->
              <div ng-hide="lit.isOngoing" class="col-xs-offset-1">
                <label for="dateEvent">Event date:</label>
                <input name="dateEvent" type="date" ng-model="lit.dateEvent">
              </div>
            </div>
          </div>

          <!-- Featured cb and date picker -->
          <div class="form-group">
            <div class="row">
              <!-- check box -->
              <div class="col-sm-3 col-md-2">
                <label class="checkbox-inline">
                  <input type="checkbox" class="" ng-model="lit.isFeatured" ng-true-value="true" ng-false-value="false">Featured
                </label>
              </div>

              <!-- date picker -->
              <div ng-show="lit.isFeatured" class="col-xs-offset-1">
                <label for="dateFeatExp">No longer featured after:</label>
                <input name="dateFeatExp" type="date" ng-model="lit.dateExpires">
              </div>
            </div>
          </div>

          <!-- Location selectors -->
          <div class="form-group">
            <label>Locations:</label>
            <div class="form-group-inline" id="fe-add-lit-locations">
              <div class="container">
                <div class="row">
                  <button type="button" class="btn btn-danger" aria-label="remove all locations" ng-hide="lit.locations.length===1" ng-click="resetLocations()">Remove All</button>
                </div>
                <div ng-repeat="(key, location) in lit.locations">
                  <div class="row">
                    <button type="button" class="delete btn btn-danger" aria-label="remove location" ng-hide="location.location===''"><span class="glyphicon glyphicon-minus" aria-hidden="true" ng-click="rmLocationSelector(key)"></span></button>
                    <select name="select-locations" class="form-control" ng-options="location as location.location for location in locationList" ng-model="lit.locations[key]" ng-change="addLocationSelector()" ng-show="location.location===''"/>
                    <label ng-hide="location.location===''" style="vertical-align: center">{{location.location}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Picture -->
          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col-sm-3 col-lg-2">
                  <img ng-src="/uploads/{{lit.thumb}}" ng-hide="lit.thumb==='empty.jpg'" alt="Form Thumbnail" class="img-thumbnail"/>
                </div>
                <div>
                  <label for="file-pic">Select picture</label>
                  <input type="file" file-model="lit.myFile" id="file-pic" name="file-pic" ng-model="lit.thumbPic" />
                  <button type="button" class="btn btn-default" ng-click="uploadFile()">Start upload!</button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <hr>
        Type: {{lit.type}}<br>
        Format: {{lit.format}}<br>
        Ongoing? {{lit.isOngoing}}<br>
        Event Date: {{lit.dateEvent}}<br>
        Featured? {{lit.isFeatured}}<br>
        Feature expires: {{lit.dateExpires}}<br>
        Locations: {{lit.locations}}<br>
        Thumb Pic: {{lit.thumb}}<br>
        myFile: {{lit.myFile.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetForm()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
